body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

#map {
    flex: 1.5;
    height: 100%;
}

#sidebar {
    flex: 1;
    padding: 20px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
}

#sidebar h2 {
    margin-top: 0;
}