@font-face {
    font-family: 'Font3';  /* Nom donné à la troisième police */
    src: url('fonts/F3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Font3', Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #444;
}

#map {
    flex: 1.5;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#sidebar {
    flex: 1;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-size: 25px;
    overflow-y: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#sidebar h2 {
    margin-top: 0;
    border-bottom: 2px solid #FF7800;
    padding-bottom: 5px;
    border-radius: 5px;
}

#menu {
    position: relative;
    margin-top: 20px;
}

#menu > button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 19px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

#menu > button:hover {
    color: #ffffff;
    background-color: #FF7800;
}

#menu-content {
    display: none;
    margin-top: 10px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#menu-content a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 5px;
}
#menu-content a:last-child {
    border-bottom: none;
}
#menu-content a:hover {
    background-color: #ffffff;
}

#appointment h3 {
    margin-top: 20px;
}

#dates, #timeslots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.date {
    padding: 14px;
    background-color: #FF7800;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    width: 100px;
    margin: 5px 5px;
    margin-top: 25px;
}

.timeslot {
    padding: 14px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    width: 100px;
    margin: 5px 5px;
    margin-top: 25px;
}

.date:hover {
    background-color: #f0f0f0;
    color: #333;
}

.timeslot:hover {
    background-color: #444;
    color: #ffffff;
}

.timeslot {
    border: 1px solid #333;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        position: relative;
        border-radius: 0;
    }
    #map {
        height: 400px;
        border-radius: 0;
    }
}